@font-face {
    font-family: "Inconsolata";
    src: url("../fonts/Inconsolata.ttf");    
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("../fonts/PlayfairDisplay.ttf");
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu.ttf");
}

@font-face {
    font-family: "NotoSerifSC";
    src: url("../fonts/NotoSerifSC.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1200px;
    margin: 0 auto;
    padding-left: 69px;
    padding-right: 69px;
}