.index-container .content-type {
    line-height: 20px;
    font-family: "Ubuntu";
    font-size: 14px;
    color: rgb(180, 173, 158);
}

.index-container .content-heading {
    height: 80px;
    line-height: 80px;
}

.index-container .content-heading a {
    text-decoration: none;
    font-family: "NotoSerifSC";
    font-size: 30px;
    color: rgb(98, 98, 98);
}

.index-container .content-body {
    line-height: 20px;
    font-family: "NotoSerifSC";
    font-size: 14px;
    color: rgb(98, 98, 98);
    text-align: justify;
    overflow: hidden;
}

.index-container .topic img {
    width: 1062px;
    height: 675px;
}

.index-container .topic .topic-content-wapper {
    margin-top: 70px;
    padding: 0 81px;
}

.index-container .topic .topic-content-wapper .content-body {
    height: 120px;
}

.index-container .topic .topic-content-wapper .etc {
    height: 20px;
    line-height: 20px;
    font-family: "NotoSerifSC";
    font-size: 14px;
    color: rgb(98, 98, 98);
}

.index-container .pieces {
    margin-top: 120px;
    padding: 0 81px;
}

.index-container .pieces .piece {
    width: 421px;
    height: 480px;
    float: left;
    margin-bottom: 120px;
}

.index-container .pieces .piece:nth-child(odd) {
    margin-right: 58px;
}

.index-container .pieces .piece img {
    width: 421px;
    height: 279px;
}

.index-container .pieces .piece .piece-content-wapper {
    margin-top: 30px;
}

.index-container .pieces .piece .piece-content-wapper .content-body {
    height: 60px;
}

.index-container .newsletter {
    clear: both;
    height: 280px;
    background-color: rgb(240, 240, 240);
    padding-top: 50px;
}

.index-container .newsletter p {
    height: 70px;
    line-height: 70px;
    font-family: "PlayfairDisplay";
    font-size: 30px;
    color: rgb(51, 51, 51);
    text-align: center;
}

.index-container .newsletter .email {
    width: 400px;
    height: 40px;
    margin: 20px auto;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.index-container .newsletter .email-input {
    height: 40px;
    float: left;
    padding-left: 5px;
    line-height: 40px;
    font-family: "PlayfairDisplay";
    font-size: 14px;
    color: rgb(98, 98, 98);
}

.index-container .newsletter .email-submit {
    height: 40px;
    float: right;
    padding-right: 5px;
    line-height: 40px;
    font-size: 14px;
    color: rgb(98, 98, 98);
    cursor: pointer;
}

.more {
    clear: both;
    height: 280px;
    padding-top: 110px;
    padding-left: 448px;
}

.more .load-more {
    width: 166px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: 1px rgb(98, 98, 98) solid;
    border-radius: 2px;
    font-family: "PlayfairDisplay";
    font-size: 20px;
    color: rgb(98, 98, 98);
    transition-duration: 0.5s;
}

.more .load-more:hover {
    background-color: rgb(54, 54, 54);
    color: rgb(255, 255, 255);
}