#main-article {
	min-height: 1500px;
}

#main-article .article-wrapper {
	width: 1062px;
	margin: 0 auto;
}

#main-article .article-wrapper .markdown-body {
	width: 980px;
	margin: 30px auto;
	padding: 45px;
	border: 1px solid #e1e4e8;
	border-radius: 6px;
}

#main-article .article-wrapper > img {
	width: 1062px;
	height: 675px;
	margin: 0 auto;
}

@media (max-width: 767px) {
	#main-article .markdown-body {
		padding: 15px;
	}	
}