#main-homepage .topic {
    width: 1062px;
    margin: 0 auto 120px;
}

#main-homepage .topic .article {
	cursor: pointer;
}

#main-homepage .topic .article img {
    width: 1062px;
    height: 675px;
}

#main-homepage .topic .article .article-content-wrapper {
    margin-top: 70px;
    padding: 0 81px;
}

#main-homepage .topic .article .article-content-wrapper .article-category {
	height: 20px;
	line-height: 20px;
	color: rgb(180, 173, 158);
    font-family: "Ubuntu";
    font-size: 14px;
}

#main-homepage .topic .article .article-content-wrapper .article-title {
	height: 80px;
	line-height: 80px;
	color: rgb(98, 98, 98);
    font-family: "NotoSerifSC";
    font-size: 30px;
    font-weight: 500;
}

#main-homepage .topic .article .article-content-wrapper .article-description {
	height: 60px;
	line-height: 20px;
	color: rgb(98, 98, 98);
    font-family: "NotoSerifSC";
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
}

#main-homepage .newsletter {
    clear: both;
    height: 280px;
    margin-bottom: 120px;
    background-color: rgb(240, 240, 240);
    padding-top: 50px;
}

#main-homepage .newsletter p {
    height: 70px;
    line-height: 70px;
    font-family: "PlayfairDisplay";
    font-size: 30px;
    color: rgb(51, 51, 51);
    text-align: center;
}

#main-homepage .newsletter .email {
    width: 400px;
    height: 40px;
    margin: 20px auto;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#main-homepage .newsletter .email-input {
    height: 40px;
    float: left;
    padding-left: 5px;
    line-height: 40px;
    font-family: "PlayfairDisplay";
    font-size: 14px;
    color: rgb(98, 98, 98);
}

#main-homepage .newsletter .email-submit {
    height: 40px;
    float: right;
    padding-right: 5px;
    line-height: 40px;
    font-size: 14px;
    color: rgb(98, 98, 98);
    cursor: pointer;
}

#main-homepage .more {
    clear: both;
    height: 280px;
    padding: 110px 0;
}

#main-homepage .more .load-more {
    display: block;
    width: 166px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: 1px rgb(98, 98, 98) solid;
    border-radius: 2px;
    font-family: "PlayfairDisplay";
    font-size: 20px;
    color: rgb(98, 98, 98);
    transition-duration: 0.5s;
}

#main-homepage .more .load-more:hover {
    background-color: rgb(54, 54, 54);
    color: rgb(255, 255, 255);
}